# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# arduino
/car/http-server/.pioenvs/
/car/http-server/.vscode/
/car/http-server/lib/
/car/http-server/.gitignore

/car/realtime/.pioenvs/
/car/realtime/.vscode/
/car/realtime/lib/
/car/realtime/.gitignore

# node.js
/http-client/node_modules/
/http-client/bin/
/http-client/package-lock.json

*.log

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

*.csv