# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# arduino
/car/http-server/.pioenvs/
/car/http-server/.vscode/
/car/http-server/lib/
/car/http-server/.gitignore

# node.js
/http-client/node_modules/
/http-client/bin/
/http-client/package-lock.json

*.log
